# Ambientes Virtuais
venv/
.venv/
env/
bin/
include/
lib/
share/
pyvenv.cfg

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Distribuição / Pacotes
dist/
build/
*.egg-info/

# Variáveis de ambiente (Segurança!)
.env